@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");

*{
    font-family: 'Poppins', sans-serif;
    font-size:x-large;
    margin:0; padding:0;
    

    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
  }
html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

section {
  padding: 3rem 9%;
}

.heading {
  background-color:  #bac34e;
  background-size: cover;
  background-position: center;
  text-align: center;
  padding-top: 12rem;
  padding-bottom: 8rem;
}

.heading h1 {
  color: #222;
  font-size: 4rem;
}

.heading p {
  padding-top: 1rem;
  font-size: 2rem;
  color: #666;
}

.heading p a {
  color: #222;
  padding-right: .5rem;
}

.heading p a:hover {
  color: #bac34e;
}

.title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2.5rem;
  margin-bottom: 3rem;
  padding: 1.2rem 0;
  border-bottom: 0.1rem solid rgba(0, 0, 0, 0.1);
  color: #222;
}

.title span {
  color: #bac34e;
  padding-left: .7rem;
}

.title a {
  margin-left: auto;
  color: #666;
  font-size: 1.5rem;
}

.title a:hover {
  color: #bac34e;
}

.btn {
  margin-top: 1rem;
  display: inline-block;
  padding: .8rem 3rem;
  background: #bac34e;
  color: #fff;
  font-size: 1.7rem;
  cursor: pointer;
}

.btn:hover {
  background: #222;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background: #fff;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2rem 9%;
}



.header .navbar a {
  font-size: 1.7rem;
  color: #666;
  margin: 0 1rem;
}

.header .navbar a:hover {
  color: #bac34e;
}

.header .icons div {
  font-size: 2.5rem;
  margin-left: 1.7rem;
  cursor: pointer;
  color: #666;
}

.header .icons div:hover {
  color: #bac34e;
}

.header .search-form {
  position: absolute;
  top: -115%;
  right: 2rem;
  width: 50rem;
  border-radius: .5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 5.5rem;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  background: #fff;
}





.header .login-form {
  position: absolute;
  top: 115%;
  right: -105%;
  background: #fff;
  border-radius: .5rem;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  width: 35rem;
  padding: 2rem;
}

.header .login-form.active {
  right: 2rem;
  -webkit-transition: .4s linear;
  transition: .4s linear;
}

.header .login-form h3 {
  color: #222;
  text-transform: uppercase;
  font-size: 2.2rem;
  text-align: center;
  margin-bottom: .7rem;
}

.header .login-form .box {
  margin: .7rem 0;
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
  padding: 1rem 1.2rem;
  font-size: 1.5rem;
  color: #222;
  text-transform: none;
  width: 100%;
}

.header .login-form .remember {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: .5rem;
  margin: .7rem 0;
}

.header .login-form .remember label {
  font-size: 1.5rem;
  color: #666;
  cursor: pointer;
}

.header .login-form .btn {
  margin: 1rem 0;
  width: 100%;
  text-align: center;
}

.header .login-form p {
  color: #666;
  padding-top: .7rem;
  font-size: 1.4rem;
}

.header .login-form p a {
  color: #bac34e;
}

.header .login-form p a:hover {
  text-decoration: underline;
}

#menu-btn {
  display: none;
}




@media (max-width: 991px) {
  html {
    font-size: 55%;
  }
  .header {
    padding: 2rem;
  }
  section {
    padding: 3rem 2rem;
  }
  .home #next-slide,
  .home #prev-slide {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    top: 88%;
  }
  .home #prev-slide {
    left: auto;
    right: 8rem;
  }
}

@media (max-width: 768px) {
  #menu-btn {
    display: inline-block;
  }
  .header .search-form {
    width: 100%;
    right: 0;
    border-radius: 0;
  }
  .header .search-form.active {
    top: 99%;
    border-top: 0.1rem solid rgba(0, 0, 0, 0.1);
    border-bottom: 0.1rem solid rgba(0, 0, 0, 0.1);
  }
  .header .navbar {
    position: absolute;
    top: 99%;
    left: 0;
    right: 0;
    background: #fff;
    border-top: 0.1rem solid rgba(0, 0, 0, 0.1);
    border-bottom: 0.1rem solid rgba(0, 0, 0, 0.1);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
            clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  .header .navbar.active {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
  .header .navbar a {
    margin: 1.5rem;
    padding: 1.5rem;
    background: #f3f3f3;
    font-size: 2rem;
    display: block;
    border-radius: .5rem;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
  .home .slides-container .slide .content h3 {
    font-size: 5rem;
  }
  .contact .row form .inputBox input {
    width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */
